{% extends 'base.html' %}
{% load static %}

{% block meta %}
NepaliStream is not your typical sports site but a sports portal with in depth coverage & news of all Football and cricket competition taking place throughout the year. Featured articles on business aspect of sports industry, athlete professional contracts, endorsement deals and how money makes a big impact on different sports. Dedicated writers team who cover articles, news feeds and latest breaking sports stories are covered with trusted sources.
{% endblock %}

{% block title %}
Contact Us
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div class="card-body px-2 pt-3 pb-4 p-sm-3 mr-0 rounded" style="background-color: white; font-weight:300;">
  <h1 class="page-title">
    Contact Us
  </h1>
  <div class="col-12 p-2 m-0">
    <p class= "d-flex justify-content-center">
      <img src="{% static 'ftball.jpg' %}" width="300px;" alt="NepaliStream" style = "border-radius:5px;">
      <span class="npstreamlg display-4 text-center text-lg-left text-white" style = "position:absolute; top:10px;">Nepali Stream</span>
      <span class="npstreamlg display-4 text-center text-lg-left text-white" style = "position:absolute; top:145px;">Contact Us</span>
    </p>
    <p>
      NepaliStream is not your typical sports site but a sports portal with in depth coverage & news of all Football and cricket competition taking place throughout the year. Featured articles on business aspect of sports industry, athlete professional contracts, endorsement deals and how money makes a big impact on different sports. Dedicated writers team who cover articles, news feeds and latest breaking sports stories are covered with trusted sources.
    </p>
    <p>
      We are always open to hiring new writers who can contribute to rapidly growing sports portal and you can use contact details below to get in touch with the NepaliStream publisher for all your queries.
    </p>
    <h3 style = "font-size:16px; text-decoration:underline; font-weight:bold;">Office Address:</h3>
    <p>
      <ul>
        <li>Bharatpur-22</li>
        <li>Nepal</li>
        <li>Phone: 056411095</li>
      </ul>
    </p>
    <h3 style = "font-size:16px; text-decoration:underline; font-weight:bold;">General Inquiries:</h3>
    <p>
      If you want to get in touch with the team of NepaliStream you can reach us through <span style = "color:#007bff; text-decoration:underline;"><i>contact@nepalistream.com</i></span>.
    </p>
    <h3 style = "font-size:16px; text-decoration:underline; font-weight:bold;">Advertising Opportunities:</h3>
    <p>
      NepaliStream gets a lot of unique visits with highly targeted sports traffic and you can contact us for any potential advertising partnership through <span style = "color:#007bff; text-decoration:underline;"><i>contact@nepalistream.com</i></span>.
    </p>
    <h3 style = "font-size:16px; text-decoration:underline; font-weight:bold;">Want to be an author for NepaliStream.com?</h3>
    <p>
      We are always looking to hire new but passionate sports writers who wants to contribute on the site with in depth analysis of different sports topics. To know more about contributing program you can contact us at <span style = "color:#007bff; text-decoration:underline;"><i>authors@nepalistream.com</i></span>.
    </p>
  </div>
</div>
{% endblock %}
