{% extends 'base.html' %}

{% block css %}
.vs-sm{
  font-size:2.5rem;
}
.vs{
  font-size: 1.7rem;
}
{% endblock %}

{% block content %}
{% if check == 0 %}
<div class="text-center text-info" style="margin-top:8rem; margin-bottom:9rem;">
  <h1 class="display-4">Match hasn't started yet.</h1>
</div>

{% else %}
<div class="card-body px-2 py-4 p-sm-3 mr-0 rounded" style="background-color: white;">
  <div class="col-12 p-1 p-sm-2 m-0">
      <div class="vs-sm d-none d-sm-block display-4 text-center mb-2 mb-lg-3">
        {{vs}}
      </div>
      <div class="vs d-sm-none display-4 text-center mb-2 mb-lg-3">
        {{vs}}
      </div>
      <table class="table table-hover text-center small m-0 p-0">
        <thead>
          <tr>
            <th scope = "col">Streamer</th>
            <th scope = "col">
              Language
            </th>
            <th scope = "col">Channel</th>
          </tr>
        </thead>
        <tbody>
          {% for linkdata in linksdata %}
            <tr>
              <td class = "text-eclipse">
                <span>{{linkdata.0}}</span>
              </td>
              <td>{{linkdata.3}}</td>
              <td class = "text-eclipse"><a href="{{linkdata.1}}" target="_blank">{{linkdata.2}}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% endif %}
{% endblock %}
