{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
<div class="card-body px-2 pt-3 pb-4 p-sm-3 mr-0 rounded" style="background-color: white; font-weight:300;">
  <h1 class="page-title">
    Terms and Conditions
  </h1>
  <div class="col-12 p-2 m-0">
    <p class= "d-flex justify-content-center">
      <img src="{% static 'ftball.jpg' %}" width="300px;" alt="NepaliStream" style = "border-radius:5px;">
      <span class="npstreamlg display-4 text-center text-lg-left text-white" style = "position:absolute; top:10px;">Terms &</span>
      <span class="npstreamlg display-4 text-center text-lg-left text-white" style = "position:absolute; top:145px;">Conditions</span>
    </p>
    <h3 style = "font-size:16px; text-decoration:underline; font-weight:bold;">Acceptance The Use Of NepaliStream.com Terms and Conditions</h3>
    <p>
      Your access to and use of <a href="{% url 'home' %}">NepaliStream.com</a> is subject exclusively to these Terms and Conditions. You will not use the Website for any purpose that is unlawful or prohibited by these Terms and Conditions. By using the Website you are fully accepting the terms, conditions and disclaimers contained in this notice. If you do not accept these Terms and Conditions you must immediately stop using the Website.
    </p>
    <h3 style = "font-size:16px; text-decoration:underline; font-weight:bold;">Credit card details</h3>
    <p>
      <a href="{% url 'home' %}">NepaliStream.com</a> will never ask for Credit Card details and request that you do not enter it on any of the forms on <a href="{% url 'home' %}">NepaliStream.com</a>.
    </p>
    <h3 style = "font-size:16px; text-decoration:underline; font-weight:bold;">Advice</h3>
    <p>
      The contents of <a href="{% url 'home' %}">NepaliStream.com</a> website do not constitute advice and should not be relied upon in making or refraining from making, any decision.
    </p>
    <h3 style = "font-size:16px; text-decoration:underline; font-weight:bold;">Change of Use</h3>
    <p>
      <a href="{% url 'home' %}">NepaliStream.com</a> reserves the right to:
      <ul>
        <li>Change or remove (temporarily or permanently) the Website or any part of it without notice and you confirm that <a href="{% url 'home' %}">NepaliStream.com</a> shall not be liable to you for any such change or removal and.</li>
        <li>Change these Terms and Conditions at any time, and your continued use of the Website following any changes shall be deemed to be your acceptance of such change.</li>
      </ul>
    </p>
    <h3 style = "font-size:16px; text-decoration:underline; font-weight:bold;">EXTERNAL LINKS:</h3>
    <p>
      <a href="{% url 'home' %}">NepaliStream.com</a> might contail links to external sites. We are not in any way responsible for privacy and terms of such websites. So you have to review their privacy terms and conditions yourself.
    </p>
    <p>
      You can always reach out to us if you have any questions about how the data collected through the use of cookies is used and stored at <a href="{% url 'home' %}">NepaliStream.com</a> or if you want to know more about our privacy polices. Use the <a href="{% url 'contact' %}" style = "text-decoration:underline;">Contact Us</a> page for any questions.
    </p>
    <h3 style = "font-size:16px; text-decoration:underline; font-weight:bold;">Copyright</h3>
    <p>
      <ul>
        <li>All copyright, trade marks and all other intellectual property rights in the Website and its content (including without limitation the Website design, text, graphics and all software and source codes connected with the Website) are owned by or licensed to <a href="{% url 'home' %}">NepaliStream.com</a> or otherwise used by <a href="{% url 'home' %}">NepaliStream.com</a> as permitted by law.</li>
        <li>In accessing the Website you agree that you will access the content solely for your personal, non-commercial use. None of the content may be downloaded, copied, reproduced, transmitted, stored, sold or distributed without the prior written consent of the copyright holder. This excludes the downloading, copying and/or printing of pages of the Website for personal, non-commercial home use only.</li>
      </ul>
    </p>
    <h3 style = "font-size:16px; text-decoration:underline; font-weight:bold;">Disclaimers and Limitation of Liability</h3>
    <p>
      <ul>
        <li>The Website is provided on an AS IS and AS AVAILABLE basis without any representation or endorsement made and without warranty of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.</li>
        <li>To the extent permitted by law, <a href="{% url 'home' %}">NepaliStream.com</a> will not be liable for any indirect or consequential loss or damage whatever (including without limitation loss of business, opportunity, data, profits) arising out of or in connection with the use of the Website.</li>
        <li><a href="{% url 'home' %}">NepaliStream.com</a> makes no warranty that the functionality of the Website will be uninterrupted or error free, that defects will be corrected or that the Website or the server that makes it available are free of viruses or anything else which may be harmful or destructive.</li>
        <li>Nothing in these Terms and Conditions shall be construed so as to exclude or limit the liability of <a href="{% url 'home' %}">NepaliStream.com</a> for death or personal injury as a result of the negligence of <a href="{% url 'home' %}">NepaliStream.com</a> or that of its employees or agents.</li>
      </ul>
    </p>
    <h3 style = "font-size:16px; text-decoration:underline; font-weight:bold;">Indemnity</h3>
    <p>
      You agree to indemnify and hold <a href="{% url 'home' %}">NepaliStream.com</a> and its employees and agents harmless from and against all liabilities, legal fees, damages, losses, costs and other expenses in relation to any claims or actions brought against <a href="{% url 'home' %}">NepaliStream.com</a> arising out of any breach by you of these Terms and Conditions or other liabilities arising out of your use of this Website.
    </p>
    <h3 style = "font-size:16px; text-decoration:underline; font-weight:bold;">Severance</h3>
    <p>
      If any of these Terms and Conditions should be determined to be invalid, illegal or unenforceable for any reason by any court of competent jurisdiction then such Term or Condition shall be severed and the remaining Terms and Conditions shall survive and remain in full force and effect and continue to be binding and enforceable.
    </p>
  </div>
</div>
{% endblock %}
