{% extends 'base.html' %}

{% block meta %}
Stay upto date with all major football events with indepth analysis, statistics, numbers and facts/figures. It is a new site but the team behind NepaliStream has 8 years of experience in sports blogging.
{% endblock %}

{% block title %}
News
{% endblock %}

{% block content %}
<div class="card-body px-2 py-4 p-sm-3 mr-0 rounded" style="background-color: white;">
  <h1 class="page-title">
    News
  </h1>
  <div class="col-12 p-1 p-sm-2 m-0">

  </div>
</div>
{% endblock %}
